body {
    background: rgb(190, 75, 222);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family:sans-serif, 'Trebuchet MS' sans-serif
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(211, 152, 233);
   margin: 0 auto;
   margin-bottom: 20px;
   border-radius: 15px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(14, 13, 13);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: rgb(6, 6, 6);
}

/* main container area beneath menu */
main {
    background: rgb(228, 158, 233);
    display: flex;
}
.sidebar {
    margin-right: 15px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {  border: 5px rgb(228,158,233);
    padding: 8px;
}
h2, h2 {
    margin: 5px;
}